.category-wrapper {
  width: 340px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 1 33%;
  label {
    padding: 0px !important;
    width: 120px;
  }
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #EAEAEA;
  background-color: white;
  height: 70px;
  padding-top: 8px !important;
  border-radius: 4px;
}

.category-selector:checked + label {
  color: $my-navy !important;
  background-color: $my-blue !important;
}

.courses-category-block {
  position: relative;
  display: flex;
  height: 140px;
  width: 100%;
  background-color: white;
  align-items: center;
  align-content: space-around;
  justify-content: center;
}

.course_category {
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
}
