.platform-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 340px;
}

.platform-item {
  flex: 0 0 30%;
}

.platform-selector {
  position: absolute;
  transform: scale(0);
}

.platform-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: white;
}

.platform-selector:checked + label {
  color: white !important;
}

#course_platform_codecademy + label {
  color: $codecademy;
  background-color: rgba($codecademy, 0.1);
  border: 2px solid $codecademy !important;
}

#course_platform_codecademy:checked + label {
  background-color: $codecademy;
  border: 2px solid $codecademy !important;
}

#course_platform_coursera + label {
  color: $coursera;
  background-color: rgba($coursera, 0.1);
  border: 2px solid $coursera !important;
}

#course_platform_coursera:checked + label {
  background-color: $coursera;
  border: 2px solid $coursera !important;
}

#course_platform_udemy + label {
  color: $udemy;
  background-color: rgba($udemy, 0.1);
  border: 2px solid $udemy !important;
}

#course_platform_udemy:checked + label {
  background-color: $udemy;
  border: 2px solid $udemy !important;
}
